.header__title {
  font-size: 1.5em;
  margin: 5% 1%;
}

.nav__item {
  width: 100%;
  padding: 16px;
}

.nav-bar {
  float: right;
  margin: 4%;
  display: block;
}

#drawer {
  height: 0;
  opacity: 0;
}

.nav {
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

#drawer.open {
  transition: opacity 1s ease-in;
  height: auto;
  opacity: 1;
}
